<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ page.meta_keyword | sanitize }}">
    <meta name="description" content="{{ page.meta_description | sanitize }}">

    <title>{{ site.title | sanitize }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>